.jobs-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.jobs-card {
  max-width: 249px;
  min-height: 284px;
  flex: 1 1 249px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobs-card-company-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.jobs-card-company-container img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.jobs-card-company-container p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #566a7f;
}

.jobs-card-job-info h2 {
  font-family: Manrope;
  font-size: 14.75px;
  font-weight: 600;
  line-height: 20.15px;
  color: #566a7f;
}

.jobs-card-job-info p {
  font-family: Manrope;
  font-size: 12.75px;
  font-weight: 400;
  line-height: 17.42px;
  color: #757d8a;
}

.jobs-button {
  width: 87px;
  height: 25px;
  padding: 6px;
  gap: 2.71px;
  border-radius: 6px;
  color: white;
  font-family: Noto Sans;
  font-size: 9.48px;
  font-weight: 400;
  line-height: 13.54px;
  text-align: center;
}
