body {
  margin: 40px;
  background-color: rgb(243, 243, 243);
}

.forgot-password-mail-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.forgot-password-link-container {
  text-align: center;
}

.forgot-password-link {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #696cff;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  margin: 60px auto;
}

.forgot-password-link:hover {
  background-color: #9092f5;
}
