.component-section-lp-hero {
  max-width: 1400px;
  height: 829px;
  max-height: fit-content;
  padding: 80px;
  border-radius: 20px;
  background: url(../../assets/background-images/hero-background.svg);
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.component-section-lp-hero h2 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: left;
}

.component-section-lp-hero p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  text-align: left;
}

.component-section-partners {
  margin: 70px auto 120px auto;
  max-width: 1400px;
}

.component-section-features {
  max-width: 1400px;
  height: 698px;
  border-radius: 20px;
  padding: 80px;
  background: linear-gradient(to bottom right, #696cff, #9574ff);
  margin: 100px auto 50px;

  position: relative;
}

.component-section-mentorPreview {
  max-width: 1400px;
  width: 100%;
  margin: 80px auto;
}

.component-section-contact {
  background: url(../../assets/background-images/hero-background.svg);
  background-position: center;
  max-width: 1440px;
  height: 746px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
}
.component-section-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 0;
}

.component-section-error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .component-section-lp-hero {
    height: 800px;
  }
  .component-section-lp-hero h2 {
    font-size: 40px;
  }

  .component-section-lp-hero p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 992px) {
  .component-section-lp-hero {
    height: 700px;
  }
  .component-section-lp-hero h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .component-section-lp-hero p {
    font-size: 13px;
  }

  .component-section-features {
    height: fit-content;
  }
}

@media only screen and (max-width: 768px) {
  .component-section-lp-hero {
    height: fit-content;
    flex-direction: column;
    padding: 30px 50px;
  }
  .component-section-lp-hero h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .component-section-lp-hero p {
    font-size: 13px;
  }

  .component-section-contact {
    padding: 0 30px;
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .component-section-lp-hero {
    height: fit-content;
  }
}
