.textarea {
  width: 100%;
  height: 200px;
  padding: 8.81px 26.42px 8.81px 26.42px;
  border-radius: 9px;
  border: 1px solid #696cff;
  background: transparent;
  outline: none;
}

.textarea:focus {
  outline: 2px solid #696cff;
  color: rgb(22, 22, 22);
}

.textarea:focus::placeholder {
  color: transparent;
}
