.back-lock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e6;
  z-index: 1111;
}

.modal-window-close-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
