.best-mentors-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 354px;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #ccbcfc26;
  border-radius: 15px;
  opacity: 0px;
}

.best-mentors-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #404d61;
}

.best-mentors-data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 572px;
  gap: 0;
  height: 111px;
  padding-right: 20px;
  box-shadow: 0px 3px 2px 0px #8c889624;
}

.best-mentor-profile-image {
  width: 46px;
  height: 46px;
  margin: 0;
}

.best-mentor-name {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: #8b8795;
  text-align: left;
  margin: 0;
}

.best-mentor-jobs {
  width: 15%;
  text-align: center;
  margin: 0;
}

.best-mentor-completed-jobs {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 600;
  line-height: 27.32px;
  color: #696cff;
  margin-bottom: 0;
  margin: 0;
}

.best-mentor-archived-jobs {
  font-family: "Manrope";
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  color: #566a7f;
  margin: 0;
}

.best-mentor-arrow {
  width: 30.58px;
  height: 30.58px;
  padding: 3.82px 6.37px 6.37px 3.82px;
}

.best-mentors-container .best-mentors-data:last-child {
  background: #f9f8f9;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
