.mentors-jobs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.mentors-jobs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 479px;
  height: 52px;
  margin-bottom: 11.31px;
  background-color: #ffffff;
  box-shadow: 0px -0.94px 0px 0px #e4e4ef inset;
  padding: 10px;
}

.mentors-jobs-buttons {
  display: flex;
  align-items: center;
  gap: 2.71px;
}

.mentors-jobs-button {
  font-family: "Noto Sans";
  font-size: 9.48px;
  font-weight: 400;
  line-height: 13.54px;
  width: 77px;
  height: 25px;
  padding: 8px;
  border-radius: 6px;
}

.mentors-jobs-second-button {
  border: 1px solid #f2076a;
  color: #f2076a;
  background-color: white;
}

.cancel-offer-button {
  border: 1px solid #f2076a;
  color: #f2076a;
  background-color: white;
  width: 117px;
  height: 25.74px;
  font-family: Noto Sans;
  font-size: 9.48px;
  font-weight: 400;
}

.cancel-offer-button:hover {
  background-color: white;
  border: 2px solid #f2076a;
}
