.admin-page-header {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1180px;
  height: 80px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.account-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  width: 40%;
  justify-content: right;
}

.profile-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.admin-page-header .user-name {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #566a7f;
  margin-top: 0;
}

.admin-page-header .user-type {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #b9b8bc;
  margin-top: 0;
  margin-bottom: 0;
}

.account-profile p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #566a7f;
}
