.input {
  width: 100%;
  border: 2px solid #d3d3ff;
  border-radius: 9px;
  outline: none;
}

.sign-input {
  width: 80%;
  height: 60px;
}

.active {
  border: 2px solid #696cff;
  outline: none;
}

.input:focus {
  outline: 2px solid #696cff;
  color: rgb(22, 22, 22);
}

.input:focus::placeholder {
  color: transparent;
}

.component-input-container {
  position: relative;
  padding: 10px 0;
}

.input-label {
  position: absolute;
  top: -12px;
  left: 10px;
  transition: 200ms;
  padding: 0 10px;
  color: #566a7f;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
}

.focused-label {
  top: -1px;
  background-color: white;
  z-index: 2;
  color: #696cff;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.49px;
}

.required {
  color: #e45270;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
}
