.admin-page {
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: #f5f5f9;
  position: relative;
}

.admin-menu {
  width: 260px;
  height: 100%;
  box-shadow: 0px 2px 6px 0px #435971;
  text-align: center;
  background-color: white;
  position: fixed;
  transition: all 0.3s ease-in-out;
}

.admin-menu.hidden {
  transform: translateX(-2000px);
  width: 0;
}

.admin-logo {
  width: 90%;
  margin: 30px auto 50px auto;
}

.admin-menu-arrow-left {
  background-color: #696cff;
  padding: 5px 7px;
  border-radius: 50%;
  width: 26px;
  position: fixed;
  top: 35px;
  left: 247px;
  cursor: pointer;
  z-index: 10;
  transition: left 0.3s ease-in-out;
}

.admin-menu-arrow-left.menu-hidden {
  left: 0;
}

.admin-nav-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #566a7f;
  margin: 20px 0;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
}

.admin-nav-logout .admin-nav-link {
  color: #696cff;
}

.admin-nav-logout img,
.admin-nav-links img {
  margin-right: 8px;
}

.admin-nav-icon {
  width: 24px;
  height: 24px;
}

.hidden {
  transform: translateX(-120%);
}

.show {
  transform: translateX(120%);
}

.admin-right-side {
  margin-left: 260px;
  flex-grow: 1;
  padding: 30px 70px;
  transition: 0.3s;
}

.admin-menu.hidden + .admin-right-side {
  margin: 0 120px;
}

@media only screen and (max-width: 992px) {
  .admin-menu.hidden + .admin-right-side {
    margin: 0 50px;
  }
  .admin-right-side {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }

  .admin-menu {
    z-index: 9;
  }
}
