.auth-page {
  background: url(/src/assets/login-bg.png),
    linear-gradient(147.1deg, #696cff 35.1%, #9574ff 77.5%);
  max-width: 1440px;
  margin: auto;
  height: 1024px;
  display: flex;
}

.auth-page-hero {
  padding: 70px 110px;
  color: white;
  position: relative;
  height: 100%;
  width: 45%;
}

.auth-page-logo {
  position: absolute;
  bottom: 5%;
}

.auth-page-hero-text h1 {
  font-family: "Manrope";
  font-size: 88.63px;
  font-weight: 700;
  line-height: 89px;
  text-align: left;
  margin: 10px 0 0 0;
  flex: 1 1 0;
}

.auth-page-hero-text h4 {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 18px;
  text-transform: uppercase;
}

.auth-page-rocket {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 55%;
  transform: rotate(-9.3deg);
}

.auth-page-logo {
  display: flex;
  flex-direction: column;
}

.auth-page-form {
  background-color: white;
  height: 100%;
  width: 55%;
  border-top-left-radius: 41px;
  border-bottom-left-radius: 41px;
  display: flex;
  flex-direction: column;
  padding: 60px 140px;
}

.auth-form-icon {
  max-width: 49px;
  height: 54.44px;
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .auth-page-hero {
    padding: 70px 50px;
  }

  .auth-page-hero-text h1 {
    font-size: 70px;
  }

  .auth-page-hero-text h4 {
    font-size: 18px;
  }

  .auth-page-form {
    padding: 70px 50px;
  }
}

@media only screen and (max-width: 992px) {
  .auth-page-hero-text h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .auth-page-hero-text h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .auth-page {
    flex-direction: column;
  }
  .auth-page-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .auth-form-icon {
    align-self: first baseline;
  }

  .auth-page-hero {
    width: 100%;
    height: 300px;
  }
  .auth-page-rocket {
    width: 20%;
    top: 65%;
    left: 65%;
  }

  .auth-page-logo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .auth-page-rocket {
    width: 25%;
    top: 75%;
    left: 65%;
  }
  .auth-page-form {
    min-height: fit-content;
    border-bottom-left-radius: 0;
  }
}
