.mentor-info-container {
  display: flex;
  gap: 25px;
  flex: 1 1 0;
  justify-content: space-between;
}

.mentor-info-personal-data-container {
  width: 20%;
  height: 280px;
  padding: 20px;
  border-radius: 21px;
  background-color: #ffffff;
  flex: 1 1 0;
}

.mentor-info-profile-image {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.mentor-info-edit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mentor-info-edit-input {
  margin: 5px auto;
  height: 25px;
  padding-left: 5px;
}

.mentor-info-edit-textarea {
  height: 130px;
  padding-bottom: 5px;
}

.mentor-info-buttons-container {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 60px;
  bottom: 10px;
}

.mentor-info-save-button {
  width: 100px;
  height: 30px;
}

.mentor-info-cancel-button {
  width: 100px;
  height: 30px;
  border: 1px solid #f2076a;
  color: #f2076a;
  background-color: white;
}

.mentor-info-cancel-button:hover {
  border: 2px solid #f2076a;
  background-color: white;
}

.mentor-info-name {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  color: #566a7f;
}
.mentor-info-possition {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #696cff;
}

.mentor-info-contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #566a7f;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 3px;
}

.mentor-info-about-data-container {
  width: 75%;
  height: 280px;
  border-radius: 21px;
  background-color: #ffffff;
  padding: 0 30px;
  position: relative;
}

.mentor-info-about-data-container h4 {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  color: #696cff;
}

.mentor-info-skills {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 18.15px;
  text-align: left;
  color: #000000;
}

.mentor-info-desc {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #566a7f;
  padding-right: 20px;
}

.mentor-info-textarea {
  border: none;
  height: 150px;
  padding-left: 0;
  overflow: hidden;
  max-width: 750px;
}

.mentor-info-textarea-length {
  font-size: 12px;
}

.mentor-info-offer-job-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32.02px;
  border-radius: 8.01px;
  font-family: Noto Sans;
  font-size: 11.83px;
  font-weight: 400;
  line-height: 16.9px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
  cursor: default;
}
