#partners {
  margin: 70px auto;
  max-width: 1400px;
}

.partners-container {
  max-width: 248px;
  text-align: center;
  padding: 24px 10px;
}

.partners-info {
  max-width: 614px;
  align-self: center;
  margin: auto;
}

.partners-info p {
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  letter-spacing: 0.01em;
  text-align: center;
  background: radial-gradient(
    81.58% 81.58% at 50% 50%,
    #232323 0%,
    rgba(35, 35, 35, 0.3) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
