.home-hero-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 72px;
}

.hero-left-container {
  width: 50%;
}

.hero-computer-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 66.7%;
  max-height: 699.5px;
  border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 992px) {
  .hero-computer-image {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-computer-image {
    position: static;
    max-width: 500px;
    width: 100%;
  }
  .hero-left-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .hero-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
