.search {
  max-width: 461px;
  height: 56px;
  border-radius: 35px;
  outline: none;
  border: none;
  padding-left: 45px;
  color: #b9b8bc;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  position: relative;
}

.search-results {
  margin-top: 10px;
  max-height: 300px;
  max-width: 461px;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  padding: 10px 20px;
  z-index: 20;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 8px 16px;
  cursor: pointer;
}

.search-results li:hover {
  color: #b9b8bc;
}
